Pillow==8.1.1
pywin32==227
requests==2.20.0
telepot==12.7
winshell==0.6
wheel==0.34.2
PyInstaller==3.6
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
